# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
_internal/

# Virtual environment
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# Secret files
config.yaml
*.key